{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Submit a review here</h1>
    <h2>Book Information</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tr>
            <th>{{ isbn }}</th>
            <th>{{ title }}</th>
            <th>{{ author }}</th>
            <th>{{ year }}</th>
        </tr>
    </table>
    
    <form action="/review/{{ isbn }}" method="post">
        <select class="custom-select" name="rating">
            <option disabled selected value>How would you rate this book</option>
            <option value="1">One Star</option>
            <option value="2">Two Stars</option>
            <option value="3">Three Stars</option>
            <option value="4">Four Stars</option>
            <option value="5">Five Stars</option>
        </select>
        <div class="form-group" name="comments">
            <textarea class="form-control" rows="10" cols="50" name="comments" placeholder="Comments"></textarea>
          </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <p></p>
    <h2>Previous Reviews</h2>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Username</th>
                <th>Rating</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Average Rating</th>
                <th>{{ averageRating }}</th>
                <th></th>
            </tr>
        </tfoot>
        {% for review in reviews %}
        <tr>
            <td>{{ review.username }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.comments }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}